/* General App container */
.app-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f7f7;
}

/* Header Styling */
.header {
  background-color: #2a3d66;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Main Content Styling */
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


/* Footer Styling */
.footer {
  background-color: #2a3d66;
  color: white;
  padding: 10px;
  text-align: center;
}
